@import url("./fonts.css");
body{
    padding: 0;
    margin: 0;
    font-family: ProximaNova;
    color: #202B6F;
}

header{
    background: rgba(237, 237, 237, 0.5);
    


}

nav{
    display:flex;
    min-height: 19vh;
    justify-content: space-around;
    
}


.contact-us{
    /*display: flex;*/
}
ul {
   /* display: flex;*/
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    

}
a {
    text-decoration: none;
    color: #202B6F;

}
li{
    font-size: 16px;
    padding: 50px;
    letter-spacing: 0.1em;
    
} 
.post h1{
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.02em;
    font-weight: bolder;
    font-style: normal;
    width: 585px;
    height: 156px;
    left: 168px;
    top: 312px;


}
.post p{
    font-size: 20px;
    letter-spacing: 0.02em;
    width: 565px;
    height: 120px;
    left: 168px;
    top: 475px;

}


.container{
    /*padding: 20px;
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-items: center;
    justify-content:space-between;*/
   
    /*border: solid 5px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*gap: 10px;*/
    /* max-width:  76%; */
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
form{
    background-color: #ffffff;
    position: absolute;
    width: 442px;
    height: 500px;
    left: 817px;
    top: 225px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
button{
    position: absolute;
    height: 50px;
    /*left: 881px;
    right: 246px;
    top: calc(50%-50px/2 - 1127.5px);
}
article{
    /*border: solid 5px;*/
}