@import url("./fonts.css");
body{
    padding: 0;
    margin: 0;
    font-family: ProximaNova;
    color: #202B6F;
    box-sizing: border-box;
}

header{
    background: rgba(237, 237, 237, 0.5);
}

nav{
  padding-top: 30px;
}
.nav-home-services{
    display: flex;
}
.menu-flex{
    display: flex;
    justify-content: space-between;
}
.Contact-us{
    border-radius: 4px;
    border:  solid 1px;
    border-color: rgba(61,52,139,1); ;
    font-size: 16px;
    font-weight:500 ;
    line-height: 40px;
    padding-left: 2.0em;
    padding-right: 2.0em;
    margin-top: 2.0rem;
    height: 38px;
    text-align: center;
}
ul {
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #202B6F;
}
li{
    font-size: 16px;
    padding: 50px;
    letter-spacing: 0.1em;
    
} 
.post h1{
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.02em;
    font-weight: bolder;
    font-style: normal;
    width: 585px;
    height: 156px;
    left: 168px;
    top: 312px;
}
.post p{
    font-size: 20px;
    letter-spacing: 0.02em;
    width: 565px;
    height: 120px;
    left: 168px;
    top: 475px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 8rem;
    position: relative;
}

    
button{
    height: 50px;
}