section{
    background-color: #E5E5E5;
    
}
.section-grid{
    display: inline-block;
    width: 100%;

}
.section-grid-column-1{
    width: 35%;
    display: block;
    
}
.section__grid_1{
    float: left;
}
.section-grid-column-2{
    width: 65%;
}
.section__grid_2{
    float: right;
}

.how-zage-works .section_primary_title{
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;

color: #3D348B;


}
.how-zage-works span{
    color: #FF8C00;
    font-size: 65px;
}
.numbered-form{
    
}
.form-steps{
    margin: 40px 0 100px;
    display: block;
}
.form-steps h4{
font-weight: 500;
font-size: 24px;
color: #3D348B;
line-height: 29px;
}
.form-steps p{
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    color: #5A646A;
    opacity: 0.8;
    text-align: center;
    
}
.methods-paragraph h3{
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.02rem;
    color: #3D348B;
    text-align: center;



}
.methods-paragraph p{
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #5A646A;
    opacity: 0.8;


}

span{
    color: #FF8C00
}
.methods-image{
    display: flex;
    justify-content: space-between;
    padding: 90px 0 90px;
}
.methods-image img{
    border: solid 1px #E0E0E0;;
}
.home-page-methods{
    padding: 120px 0 90px;
}
.faq-header{
    font-size: 36px;
    line-height: 36px;
    text-align: center;
}