form {
    
    border-radius: 3px;
    padding: 40px;
    position: absolute;
    width: 370px;
    height: 400px;
    left: 817px;
    top:225px;
    background:#FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 50px;
    margin: 20px auto;
    
  
  }
  button{
    position: absolute;
    height: 50px;
    width: 313px;
    background: #3D348B;
    border-radius: 3px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    margin-left: 25px;

  }
  input {
    width: 320px;
    padding: 8.7px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid  #d5dbd9;
    margin-bottom: 18px;
    border-radius: 3px;
  }
  label{
    margin-left: 10px;
    /*margin-bottom: 40px;*/
  }
  form ::placeholder{
    font-size: 10px;
    line-height: 12px;
  }
  form label{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #454545;
  }